<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>projet</title>
</head>
<body>
  <h1>project</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>nama</th>
      <th>status</th>
    </tr>
    <% data.forEach (d =>{%>
      <tr>
        <td>
          <%= d.id %>
        </td>
        <td>
          <%= d.nama %>
        </td>
        <td>
          <%= d.status %>
        </td>
        <td><a href="/list/edit/<%= d.id %>"><button type="button" name="button">Edit</button></a></td>
        <td><a href="/list/delete/<%= d.id %>"><button type="button" name="button">Delete</button></a></td>
      </tr>
      <% }) %>
  </table>
  <br>
  <left>
    <form action="/list" method="post">
      <label><b>name project<b></label>
      <input type="text" name="nama" placeholder="please input your name">
      <br>
      <label><b>status<b></label>
      <input type="text" name="status" placeholder="status project">
      <br>
      <button type="submit" name="submit">Submit </button>
    </form><br>
  </left>
  <br>
</body>
</html>
